.principalLogin {
  background-image: url("../../assets/Background login.png");
  min-height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  gap: 20px;
  width: 100%;
  max-width: 450px; /* limite de largura */
}

.inputForm {
  width: 100%; /* para usar 100% da coluna do bootstrap */
}

.iconeLogin {
  width: 150px;
  height: 150px;
  max-width: 50%; /* para não ultrapassar a tela */
}


