.input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 100%;
    transition: all 0.2s ease-in-out;
    outline: none;
}

.input:focus {
  border: 1px solid #0d6efd; /* azul moderno */
  box-shadow: 0 0 5px rgba(13, 110, 253, 0.4); /* glow suave */
}